<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Approved</h1>
    <table>
        <tr>
            <th>Amount</th>
            <th>Interest_rate</th>
            <th>emi</th>
            <th>tenure</th>
            <th>status</th>
            <th>product</th>

        </tr>
        {% for loan in approved %}

        <tr>
            <td>{{loan.amount}}</td>
            <td>{{loan.interest_rate}}</td>
            <td>{{loan.emi}}</td>
            <td>{{loan.tenure}}</td>
            <td>{{loan.status}}</td>
            <td>{{loan.product}}</td>
        </tr>

        {% endfor %}
    </table>
    <h1>Rejected</h1>
    <table>
        <tr>
            <th>Amount</th>
            <th>Interest_rate</th>
            <th>emi</th>
            <th>tenure</th>
            <th>status</th>
            <th>product</th>

        </tr>
        {% for loan in rejected %}

        <tr>
            <td>{{loan.amount}}</td>
            <td>{{loan.interest_rate}}</td>
            <td>{{loan.emi}}</td>
            <td>{{loan.tenure}}</td>
            <td>{{loan.status}}</td>
            <td>{{loan.product}}</td>
        </tr>

        {% endfor %}
    </table>
    <h1>New</h1>
    <table>
        <tr>
            <th>Amount</th>
            <th>Interest_rate</th>
            <th>emi</th>
            <th>tenure</th>
            <th>status</th>
            <th>product</th>

        </tr>
        {% for loan in new %}

        <tr>
            <td>{{loan.amount}}</td>
            <td>{{loan.interest_rate}}</td>
            <td>{{loan.emi}}</td>
            <td>{{loan.tenure}}</td>
            <td>{{loan.status}}</td>
            <td>{{loan.product}}</td>
        </tr>

        {% endfor %}
    </table>
</body>

</html>